@font-face {
  font-family: 'Poetsen One', sans-serif;
  src: url('../../fonts/PoetsenOne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
