.navList {
  display: flex;
  flex-direction: column;
}

.header .navList {
  display: none;

  @include media(desktop) {
    display: flex;
    flex-direction: row;
    gap: 41px;
    line-height: 24px;
    letter-spacing: 0%;
    font-family: PoetsenOne;
    color: $_white_color;
    padding: 10px;
  }
}

.burger .navList {
  position: absolute;
  right: 30px;
  top: 40px;
  display: flex;
  gap: 16px;
  text-align: right;
  font-family: PoetsenOne;
  font-size: 18px;
  line-height: 1.5;
  @include media(desktop) {
    display: none;
  }
}
