.navList {
  display: flex;
  flex-direction: column;
}

.header .navList {
  display: none;

  @include media(desktop) {
    display: flex;
    flex-direction: row;
    gap: 41px;
    line-height: 24px;
    letter-spacing: 0%;
    font-family: PoetsenOne;
    color: $_white_color;
    padding: 10px;
  }
}

.burger .navList {
  position: absolute;
  right: 30px;
  top: 40px;
  display: flex;
  gap: 14px;
  text-align: right;
  font-family: PoetsenOne;
  font-size: 18px;
  line-height: 1.5;

  @include media(desktop) {
    display: none;
  }
}
.burger .navLink {
  color: $_main_color;

  @include media(desktop) {
    display: none;
  }
}
.navLink {
  transition: text-shadow 0.3s ease;
  text-shadow: none;
  color: $_white_color;
}

.navLink:hover {
  text-shadow: 3px 8px 6px rgba(0, 0, 0, 0.3);
}
