<section id="about" class="section">
  <div>
    <div class="aboutContainer">
      <div class="aboutInfBlock">
        <h2 class="title aboutTitle">About the game</h2>
        <p class="aboutText">
          Water Splash" is a vibrant match-3 puzzle game where players journey
          through a colorful water world, aiming to match colorful water
          balloons to clear challenging levels. Set in a charming environment
          with Oris the Otter, your goal is to help him defeat the crocodile and
          bring water back to his village. With over 1,000 levels each offering
          unique challenges and gameplay mechanics, players will enjoy an
          immersive experience with rich graphics and interactive water effects
          that bring each level to life. Strategic gameplay is crucial as you
          use special water balloons, combine multiple power-ups, and solve
          puzzles to progress. The game also integrates social features,
          allowing players to compete against friends and climb the leaderboards
          in weekly tournaments.
        </p>
      </div>
      <img
        src="./img/about/mobAbout.png"
        srcset="../img/about/dsAbout@2x.png 2x"
        alt="cards splash"
        class="cardsSplash"
        loading="lazy"
      />
      <img
      src="./img/about/dsAbout.png"
      srcset="../img/about/dsAbout@2x.png 2x"
      alt="cards splash"
      class="cardsSplashDs"
      loading="lazy"
    />
    </div>
    <ul class="statisticsList">
      <li class="statisticsItem"><span class="statisticsDate">4.8</span> AVR RATING</li>
      <li class="statisticsItem"><span class="statisticsDate">50 000</span> DOWNLOADS</li>
      <li class="statisticsItem"><span class="statisticsDate">1 000+ </span> REVIEWS</li>
      <li class="statisticsItem"><span class="statisticsDate">ONLINE/</span> OFFLINE</li>
    </div>
  </ul>
</section>
