<section id="advantages" class="section">
  <div class="advantagesContainer">
    <div class="advantagesWrapperContainer">
      <img
        src="../img/icons/advantagesCard.svg"
        alt="advantages card"
        class="advantagesCard"
        loading="lazy"
      />
      <p class="advantagesText">
        Stunning visuals and fluid animations make every level a visual treat
      </p>
      <img
        src="../img/addvantages/mobLowerSplashes.png"
        srcset="../img/addvantages/mobLowerSplashes@2x.png 2x"
        alt="lower splashes"
        class="lowerSplashes"
        loading="lazy"
      />
      <img
        src="../img/addvantages/dsLowerSplashes.png"
        srcset="../img/addvantages/dsLowerSplashes@2x.png 2x"
        alt="lower splashes"
        class="lowerSplashesDs"
        loading="lazy"
      />
    </div>
    <div class="advantagesWrapperContainer">
      <img
        src="../img/icons/advantagesCard.svg"
        alt="advantages card"
        class="advantagesCard"
        loading="lazy"
      />
      <p class="advantagesText">
        Each level offers new puzzles and obstacles to keep the gameplay
        exciting
      </p>
      <img
        src="../img/addvantages/dsTopSplashes.png"
        srcset="../img/addvantages/dsLowerSplashes@2x.png 2x"
        alt="top splashes"
        class="topSplashesDs"
        loading="lazy"
      />
    </div>
    <div class="advantagesWrapperContainer">
      <img
        src="../img/icons/advantagesCard.svg"
        alt="advantages card"
        class="advantagesCard"
        loading="lazy"
      />
      <p class="advantagesText">
        Compete with friends and share your achievements on social media
      </p>
      <img
        src="../img/addvantages/dsLowerSplashes.png"
        srcset="../img/addvantages/dsLowerSplashes@2x.png 2x"
        alt="lower splashes"
        class="lowerSplashesDs"
        loading="lazy"
      />
    </div>
    <div class="advantagesWrapperContainer">
      <img
        src="../img/icons/advantagesCard.svg"
        alt="advantages card"
        class="advantagesCard"
        loading="lazy"
      />
      <p class="advantagesText">
        Fresh content and seasonal events ensure there's always something new
      </p>
      <img
        src="../img/addvantages/mobTopSplashes.png"
        srcset="../img/addvantages/mobTopSplashes@2x.png 2x"
        alt="top splashes"
        class="topSplashes"
        loading="lazy"
      />
      <img
        src="../img/addvantages/dsTopSplashes.png"
        srcset="../img/addvantages/dsLowerSplashes@2x.png 2x"
        alt="top splashes"
        class="topSplashesDs"
        loading="lazy"
      />
    </div>
    <div class="advantagesWrapperContainer">
      <img
        src="../img/icons/advantagesCard.svg"
        alt="advantages card"
        class="advantagesCard"
        loading="lazy"
      />
      <p class="advantagesText">
        Accessible to All: Easy to learn, with layers of strategic depth for
        experienced players
      </p>
      <img
        src="../img/addvantages/mobLowerSplashes.png"
        srcset="../img/addvantages/mobLowerSplashes@2x.png 2x"
        alt="lower splashes"
        class="lowerSplashes"
        loading="lazy"
      />
      <img
        src="../img/addvantages/dsLowerSplashes.png"
        srcset="../img/addvantages/dsLowerSplashes@2x.png 2x"
        alt="lower splashes"
        class="lowerSplashesDs"
        loading="lazy"
      />
    </div>
    <div class="advantagesWrapperContainer">
      <img
        src="../img/icons/advantagesCard.svg"
        alt="advantages card"
        class="advantagesCard"
        loading="lazy"
      />
      <p class="advantagesText">
        Play with unique water physics for a refreshing twist on the match-3
        formula
      </p>
      <img
        src="../img/addvantages/dsTopSplashes.png"
        srcset="../img/addvantages/dsLowerSplashes@2x.png 2x"
        alt="top splashes"
        class="topSplashesDs"
        loading="lazy"
      />
    </div>
  </div>
</section>
