<section id="faq" class="section">
  <div class="faqContainer">
    <h2 class="title faqTitle">FAQ</h2>
    <div class="faqCardBlock">
      <div class="faqCardContentBlock">
        <div class="faqVisibleBlock">
          <h3 class="faqTitleCard">How do I get more lives?</h3>
          <button
            class="cardBtn openBtn"
            type="button"
            aria-label="Open answer"
          >
            <img
              src="./img/icons/faw/buttonOpen.svg"
              alt="open buttov"
              class="faqOpen norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonOpenHover.svg"
              alt="open button hover"
              class="faqOpenHover h"
              loading="lazy"
            />
          </button>
          <button
            class="cardBtn closeButton hidden"
            type="button"
            aria-label="Close answer"
          >
            <img
              src="./img/icons/faw/buttonClosed.svg"
              alt="closed buttov"
              class="faqClosed norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonClosedHover.svg"
              alt="closed button hover"
              class="faqClosedHover h"
              loading="lazy"
            />
          </button>
        </div>
        <p class="faqOpenText hidden">
          Lives refill over time, or you can request them from friends.
        </p>
      </div>
    </div>

    <div class="faqCardBlock">
      <div class="faqCardContentBlock">
        <div class="faqVisibleBlock">
          <h3 class="faqTitleCard">Can I play offline?</h3>
          <button
            class="cardBtn openBtn"
            type="button"
            aria-label="Open answer"
          >
            <img
              src="./img/icons/faw/buttonOpen.svg"
              alt="open buttov"
              class="faqOpen norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonOpenHover.svg"
              alt="open button hover"
              class="faqOpenHover h"
              loading="lazy"
            />
          </button>
          <button
            class="cardBtn closeButton hidden"
            type="button"
            aria-label="Close answer"
          >
            <img
              src="./img/icons/faw/buttonClosed.svg"
              alt="closed buttov"
              class="faqClosed norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonClosedHover.svg"
              alt="closed button hover"
              class="faqClosedHover h"
              loading="lazy"
            />
          </button>
        </div>
        <p class="faqOpenText hidden">
          The game requires an internet connection for some features but can be
          played offline otherwise.
        </p>
      </div>
    </div>
    <div class="faqCardBlock">
      <div class="faqCardContentBlock">
        <div class="faqVisibleBlock">
          <h3 class="faqTitleCard">How to use power-ups effectively?</h3>
          <button
            class="cardBtn openBtn"
            type="button"
            aria-label="Open answer"
          >
            <img
              src="./img/icons/faw/buttonOpen.svg"
              alt="open buttov"
              class="faqOpen norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonOpenHover.svg"
              alt="open button hover"
              class="faqOpenHover h"
              loading="lazy"
            />
          </button>
          <button
            class="cardBtn closeButton hidden"
            type="button"
            aria-label="Close answer"
          >
            <img
              src="./img/icons/faw/buttonClosed.svg"
              alt="closed buttov"
              class="faqClosed norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonClosedHover.svg"
              alt="closed button hover"
              class="faqClosedHover h"
              loading="lazy"
            />
          </button>
        </div>
        <p class="faqOpenText hidden">
          Use power-ups to clear difficult tiles or save them for complicated
          levels.
        </p>
      </div>
    </div>

    <div class="faqCardBlock">
      <div class="faqCardContentBlock">
        <div class="faqVisibleBlock">
          <h3 class="faqTitleCard">Are there in-app purchases?</h3>
          <button
            class="cardBtn openBtn"
            type="button"
            aria-label="Open answer"
          >
            <img
              src="./img/icons/faw/buttonOpen.svg"
              alt="open buttov"
              class="faqOpen norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonOpenHover.svg"
              alt="open button hover"
              class="faqOpenHover h"
              loading="lazy"
            />
          </button>
          <button
            class="cardBtn closeButton hidden"
            type="button"
            aria-label="Close answer"
          >
            <img
              src="./img/icons/faw/buttonClosed.svg"
              alt="closed buttov"
              class="faqClosed norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonClosedHover.svg"
              alt="closed button hover"
              class="faqClosedHover h"
              loading="lazy"
            />
          </button>
        </div>
        <p class="faqOpenText hidden">
          Yes, but they are optional and not required to progress.
        </p>
      </div>
    </div>
    <div class="faqCardBlock">
      <div class="faqCardContentBlock">
        <div class="faqVisibleBlock">
          <h3 class="faqTitleCard">How to get high scores?</h3>
          <button
            class="cardBtn openBtn"
            type="button"
            aria-label="Open answer"
          >
            <img
              src="./img/icons/faw/buttonOpen.svg"
              alt="open buttov"
              class="faqOpen norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonOpenHover.svg"
              alt="open button hover"
              class="faqOpenHover h"
              loading="lazy"
            />
          </button>
          <button
            class="cardBtn closeButton hidden"
            type="button"
            aria-label="Close answer"
          >
            <img
              src="./img/icons/faw/buttonClosed.svg"
              alt="closed buttov"
              class="faqClosed norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonClosedHover.svg"
              alt="closed button hover"
              class="faqClosedHover h"
              loading="lazy"
            />
          </button>
        </div>
        <p class="faqOpenText hidden">
          Combine multiple combos and use power-ups strategically.
        </p>
      </div>
    </div>

    <div class="faqCardBlock">
      <div class="faqCardContentBlock">
        <div class="faqVisibleBlock">
          <h3 class="faqTitleCard">
            Is there a way to sync game progress across devices?
          </h3>
          <button
            class="cardBtn openBtn"
            type="button"
            aria-label="Open answer"
          >
            <img
              src="./img/icons/faw/buttonOpen.svg"
              alt="open buttov"
              class="faqOpen norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonOpenHover.svg"
              alt="open button hover"
              class="faqOpenHover h"
              loading="lazy"
            />
          </button>
          <button
            class="cardBtn closeButton hidden"
            type="button"
            aria-label="Close answer"
          >
            <img
              src="./img/icons/faw/buttonClosed.svg"
              alt="closed buttov"
              class="faqClosed norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonClosedHover.svg"
              alt="closed button hover"
              class="faqClosedHover h"
              loading="lazy"
            />
          </button>
        </div>
        <p class="faqOpenText hidden">
          Yes, by connecting to social media accounts.
        </p>
      </div>
    </div>
    <div class="faqCardBlock">
      <div class="faqCardContentBlock">
        <div class="faqVisibleBlock">
          <h3 class="faqTitleCard">What happens if I uninstall the game?</h3>
          <button
            class="cardBtn openBtn"
            type="button"
            aria-label="Open answer"
          >
            <img
              src="./img/icons/faw/buttonOpen.svg"
              alt="open buttov"
              class="faqOpen norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonOpenHover.svg"
              alt="open button hover"
              class="faqOpenHover h"
              loading="lazy"
            />
          </button>
          <button
            class="cardBtn closeButton hidden"
            type="button"
            aria-label="Close answer"
          >
            <img
              src="./img/icons/faw/buttonClosed.svg"
              alt="closed buttov"
              class="faqClosed norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonClosedHover.svg"
              alt="closed button hover"
              class="faqClosedHover h"
              loading="lazy"
            />
          </button>
        </div>
        <p class="faqOpenText hidden">
          Your progress can be lost unless synced online.
        </p>
      </div>
    </div>

    <div class="faqCardBlock">
      <div class="faqCardContentBlock">
        <div class="faqVisibleBlock">
          <h3 class="faqTitleCard">Are there any rewards for playing daily?</h3>
          <button
            class="cardBtn openBtn"
            type="button"
            aria-label="Open answer"
          >
            <img
              src="./img/icons/faw/buttonOpen.svg"
              alt="open buttov"
              class="faqOpen norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonOpenHover.svg"
              alt="open button hover"
              class="faqOpenHover h"
              loading="lazy"
            />
          </button>
          <button
            class="cardBtn closeButton hidden"
            type="button"
            aria-label="Close answer"
          >
            <img
              src="./img/icons/faw/buttonClosed.svg"
              alt="closed buttov"
              class="faqClosed norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonClosedHover.svg"
              alt="closed button hover"
              class="faqClosedHover h"
              loading="lazy"
            />
          </button>
        </div>
        <p class="faqOpenText hidden">
          Yes, daily bonuses and special events offer rewards.
        </p>
      </div>
    </div>
    <div class="faqCardBlock">
      <div class="faqCardContentBlock">
        <div class="faqVisibleBlock">
          <h3 class="faqTitleCard">Can I challenge my friends?</h3>
          <button
            class="cardBtn openBtn"
            type="button"
            aria-label="Open answer"
          >
            <img
              src="./img/icons/faw/buttonOpen.svg"
              alt="open buttov"
              class="faqOpen norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonOpenHover.svg"
              alt="open button hover"
              class="faqOpenHover h"
              loading="lazy"
            />
          </button>
          <button
            class="cardBtn closeButton hidden"
            type="button"
            aria-label="Close answer"
          >
            <img
              src="./img/icons/faw/buttonClosed.svg"
              alt="closed buttov"
              class="faqClosed norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonClosedHover.svg"
              alt="closed button hover"
              class="faqClosedHover h"
              loading="lazy"
            />
          </button>
        </div>
        <p class="faqOpenText hidden">
          Yes, invite friends for more fun and competition.
        </p>
      </div>
    </div>

    <div class="faqCardBlock">
      <div class="faqCardContentBlock">
        <div class="faqVisibleBlock">
          <h3 class="faqTitleCard">Is customer support available?</h3>
          <button
            class="cardBtn openBtn"
            type="button"
            aria-label="Open answer"
          >
            <img
              src="./img/icons/faw/buttonOpen.svg"
              alt="open buttov"
              class="faqOpen norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonOpenHover.svg"
              alt="open button hover"
              class="faqOpenHover h"
              loading="lazy"
            />
          </button>
          <button
            class="cardBtn closeButton hidden"
            type="button"
            aria-label="Close answer"
          >
            <img
              src="./img/icons/faw/buttonClosed.svg"
              alt="closed buttov"
              class="faqClosed norma"
              loading="lazy"
            />
            <img
              src="./img/icons/faw/buttonClosedHover.svg"
              alt="closed button hover"
              class="faqClosedHover h"
              loading="lazy"
            />
          </button>
        </div>
        <p class="faqOpenText hidden">
          Yes, through in-game settings and the support website.
        </p>
      </div>
    </div>
  </div>
</section>
