<footer class="footer">
  <div class="footerContainer">
    <nav class="footerNav">
      <ul class="footerNavList">
        <li class="footerNavItem">
          <a href="./page-2.html" class="footerNavLink">Privacy policy </a>
        </li>
        <li class="footerNavItem">
          <span class="footerSeparator">/</span>
        </li>
        <li class="footerNavItem">
          <a href="./page-3.html" class="footerNavLink">Terms and conditions</a>
        </li>
      </ul>
    </nav>
    <p class="footerCopyright">All rights reserved luckygamepath.com | 2024</p>
  </div>
</footer>
