<section id="gallery" class="section">
  <div class="gallaryContainerSwiper">
    <div class="swiper mySwiper gallerySwiper">
      <div class="swiper-wrapper">
        <picture class="swiper-slide galleryPicture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/dsBlast.jpg,
              ../img/gallery/dsBlast@2x.jpg 2x
            " />
          <img
            src="../img/gallery/mobBlast.jpg"
            srcset="
              ../img/gallery/mobBlast.jpg,
              ../img/gallery/mobBlast@2x.jpg 2x
            "
            alt="mob blast"
            loading="lazy"
        /></picture>
        <picture class="swiper-slide galleryPicture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/dsSave.jpg,
              ../img/gallery/dsSave@2x.jpg 2x
            " />
          <img
            src="../img/gallery/mobSave.jpg"
            srcset="
              ../img/gallery/mobSave.jpg,
              ../img/gallery/mobSave@2x.jpg 2x
            "
            alt="mob blast"
            loading="lazy"
        /></picture>
        <picture class="swiper-slide galleryPicture">
          <source
            media="(min-width: 1440px)"
            srcset="../img/gallery/dsPop.jpg, ../img/gallery/dsPop@2x.jpg 2x" />
          <img
            src="../img/gallery/mobPop.jpg"
            srcset="../img/gallery/mobPop.jpg, ../img/gallery/mobPop@2x.jpg 2x"
            alt="mob blast"
            loading="lazy"
        /></picture>
        <picture class="swiper-slide galleryPicture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/dsMatch.jpg,
              ../img/gallery/dsMatch@2x.jpg 2x
            " />
          <img
            src="../img/gallery/mobMatch.jpg"
            srcset="
              ../img/gallery/mobMatch.jpg,
              ../img/gallery/mobMatch@2x.jpg 2x
            "
            alt="mob blast"
            loading="lazy"
        /></picture>
        <picture class="swiper-slide galleryPicture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/dsExplore.jpg,
              ../img/gallery/dsExplore@2x.jpg 2x
            " />
          <img
            src="../img/gallery/mobExplore.jpg"
            srcset="
              ../img/gallery/mobExplore.jpg,
              ../img/gallery/mobExplore@2x.jpg 2x
            "
            alt="mob blast"
            loading="lazy"
        /></picture>
        <picture class="swiper-slide galleryPicture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/dsDefeat.jpg,
              ../img/gallery/dsDefeat@2x.jpg 2x
            " />
          <img
            src="../img/gallery/mobDefeat.jpg"
            srcset="
              ../img/gallery/mobDefeat.jpg,
              ../img/gallery/mobDefeat@2x.jpg 2x
            "
            alt="mob blast"
            loading="lazy"
        /></picture>
      </div>
    </div>
    <button
      class="swiper-button-prev prewButtonP"
      type="button"
      aria-label="Previous slide"
    >
      <img
        src="../img/navBtn/navBtn.png"
        srcset="../img/navBtn/navBtn@2x.png 2x"
        alt="swiper button prev"
        class="imgPrewButton normal"
        loading="lazy"
      />
      <img
        src="../img/navBtn/navBtnHover.png"
        srcset="../img/navBtn/navBtnHover@2x.png 2x"
        alt="swiper button next"
        class="imgPrewButton hover"
        loading="lazy"
      />
    </button>
    <button
      class="swiper-button-next nextButtonN"
      type="button"
      aria-label="Next slide"
    >
      <img
        src="../img/navBtn/navBtn.png"
        srcset="../img/navBtn/navBtn@2x.png 2x"
        alt="swiper button next"
        class="imgButtonNext normal"
        loading="lazy"
      />
      <img
        src="../img/navBtn/navBtnHover.png"
        srcset="../img/navBtn/navBtnHover@2x.png 2x"
        alt="swiper button next"
        class="imgButtonNext hover"
        loading="lazy"
      />
    </button>
  </div>
</section>
