<section id="gallery" class="section">
  <div class="swiper mySwiper gallerySwiper">
    <div class="swiper-wrapper mob">
      <img
        src="../img/gallery/mobPic1.jpg"
        srcset="../img/gallery/mobPic1@2x.jpg 2x"
        alt=" first cover of the game"
        class="swiper-slide mobGalleryCard"
      />

      <img
        src="../img/gallery/mobPic2.jpg"
        srcset="../img/gallery/mobPic2@2x.jpg 2x"
        alt="second cover of the game"
        class="swiper-slide mobGalleryCard"
      />

      <img
        src="../img/gallery/mobPic3.jpg"
        srcset="../img/gallery/mobPic3@2x.jpg 2x"
        alt="third cover of the game"
        class="swiper-slide mobGalleryCard"
      />

      <img
        src="../img/gallery/mobPic4.jpg"
        srcset="../img/gallery/mobPic4@2x.jpg 2x"
        alt="fourth cover of the game"
        class="swiper-slide mobGalleryCard"
      />

      <img
        src="../img/gallery/mobPic5.jpg"
        srcset="../img/gallery/mobPic5@2x.jpg 2x"
        alt="fifth cover of the game"
        class="swiper-slide mobGalleryCard"
      />

      <img
        src="../img/gallery/mobPic6.jpg"
        srcset="../img/gallery/mobPic6@2x.jpg 2x"
        alt="sixth cover of the game"
        class="swiper-slide mobGalleryCard"
      />

      <div class="swiper-slide dsGalleryCard">
        <img
          src="../img/gallery/dsPic1.jpg"
          srcset="../img/gallery/dsPic1@2x.jpg 2x"
          alt=" first cover of the game"
        />
      </div>
      <div class="swiper-slide dsGalleryCard">
        <img
          src="../img/gallery/dsPic2.jpg"
          srcset="../img/gallery/dsPic2@2x.jpg 2x"
        />
      </div>
      <div class="swiper-slide dsGalleryCard">
        <img
          src="../img/gallery/dsPic3.jpg"
          srcset="../img/gallery/dsPic3@2x.jpg 2x"
          alt="third cover of the game"
        />
      </div>
      <div class="swiper-slide dsGalleryCard">
        <img
          src="../img/gallery/dsPic4.jpg"
          srcset="../img/gallery/dsPic4@2x.jpg 2x"
          alt="fourth cover of the game"
        />
      </div>
      <div class="swiper-slide dsGalleryCard">
        <img
          src="../img/gallery/dsPic5.jpg"
          srcset="../img/gallery/dsPic5@2x.jpg 2x"
          alt="fifth cover of the game"
        />
      </div>
      <div class="swiper-slide dsGalleryCard">
        <img
          src="../img/gallery/dsPic6.jpg"
          srcset="../img/gallery/dsPic6@2x.jpg 2x"
          alt="sixth cover of the game"
        />
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <button class="closeBtn">
      <img
        src="../img/navBtn/navBtn.png"
        srcset="../img/navBtn/navBtn@2x.png 2x"
        alt="swiper button next"
        class="swiper-button-next"
      />
      <!-- <img
        src="../img/navBtn/navBtnHover.png"
        srcset="../img/navBtn/navBtnHover@2x.png 2x"
        alt="swiper button next"
        class="swiper-button-next"
      /> -->
    </button>
    <button class="closeBtn">
      <!-- <img
        src="../img/navBtn/navBtn.png"
        srcset="../img/navBtn/navBtn@2x.png 2x"
        alt="swiper button prev"
        class="swiper-button-next"
      /> -->
      <img
        src="../img/navBtn/navBtnHover.png"
        srcset="../img/navBtn/navBtnHover@2x.png 2x"
        alt="swiper button prev"
        class="swiper-button-next"
      />
    </button>
  </div>
</section>
