<header class="header">
  <div class="header-content">
    <div>
      <a href="#home">
        <img src="../img/icons/logo.svg" alt="logo" class="logo" />
      </a>
    </div>
    <div class="headerNav">
      <load ="./components/navList.html" />
      <button class="menuButton js-open-menu" aria-label="Toggle menu">
        <svg width="30" height="30" class="icons">
          <use href="../img/icons/symbol-defs.svg#icon-Group-27" />
        </svg>
      </button>
    </div>
  </div>
</header>
