<header class="header">
  <div class="headerContent">
    <a href="#home">
      <img src="../img/icons/logo.svg" alt="logo" class="logo" />
    </a>

    <div class="headerNav">
      <load ="./components/navList.html" />
      <button
        class="menuButton js-open-menu"
        aria-label="Toggle menu"
        type="button"
        aria-label="Burger menu"
      >
        <img
          src="../img/icons/defaultBurgBtn.svg"
          alt="default burger button"
          class="defaultBurgerIcon"
        />
        <img
          src="../img/icons/activeBurgBtn.svg"
          alt="active burger button"
          class="activeBurgerIcon"
        />
      </button>
    </div>
  </div>
</header>
