<section id="home" class="home">
  <div class="content">
    <h1 class="mainTitle" aria-label="Water Splash">
      <img
        src="./img/title/Name.png"
        srcset="../img/title/Name@2x.png 2x"
        alt="label"
        class="mobileTitle"
      />
      <img
        src="./img/title/deskName.png"
        srcset="../img/title/deskName@2x.png 2x"
        width="290"
        height="162"
        alt="label desc"
        class="desktopTitle"
      />
    </h1>
    <p class="text">
      Dive into "Water Splash," where fun meets an endless ocean of puzzles!
      Unlock the thrilling world of aquatic adventures today and make a splash
      with every level you conquer!
    </p>
    <a
      href="https://play.google.com/store/apps/details?id=com.cookapps.watersplash"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <img
        src="./img/googlePlay/mobGoogleplay.jpg"
        srcset="./img/googlePlay/mobGoogleplay@2x.jpg 2x"
        alt="google play app"
        class="mobGooglePlay"
      />
      <img
        src="./img/googlePlay/deskGooglePlay.jpg"
        srcset="./img/googlePlay/deskGooglePlay@2x.jpg 2x"
        alt="google play app"
        class="deskGooglePlay"
      />
    </a>
    <img
      src="./img/chipmunk/chipmunk.png"
      srcset="./img/chipmunk/chipmunk@2x.png 2x"
      alt="chipmunk"
      class="chipmunk"
    />
  </div>
</section>
