<section id="reviews" class="section">
  <div></div>
  <div>
    <p class="disclaimerTitle">Disclaimer</p>
    <div class="disclaimerSignContainer">
      <div class="disclaimerSign">
        <img
          src="../img/icons/attentionSign.svg"
          alt="attention sign"
          class="attentionSign"
        />
        <p class="disclaimerText">
          LUCKYGAMEPATH.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF
          WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN
          REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF
          AGE. ENJOY PLAYING THIS GAME!
        </p>
      </div>
    </div>
  </div>
</section>
