<section id="reviews" class="section">
  <div>
    <h2 class="visually-hidden">Reviews and Disclaimer Section</h2>
    <div class="reviesContainerSwiper">
      <div class="swiper swiperBlock reviewsSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide leterContainer">
            <div class="letterBlock">
              <img
                src="./img/icons/letterBackground.svg"
                alt="letter background "
                class="letterBackground"
                loading="lazy"
              />
              <p class="textInLetter">
                “Incredible fun with beautiful graphics and challenging levels.
                Great to pass time!”
              </p>
            </div>
            <div class="infCardContainer">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/reviews/dsAquaMover.png,
                    ./img/reviews/dsAquaMover@2x.png 2x
                  " />
                <img
                  src="./img/reviews/mbAquaMover.png"
                  srcset="
                    ./img/reviews/mbAquaMover.png,
                    ./img/reviews/mbAquaMover@2x.png 2x
                  "
                  alt="Aqua Mover"
                  class="reviewsUserAva"
                  loading="lazy"
              /></picture>
              <div>
                <p class="cardName">AquaMover</p>
                <p class="cardUser">User</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide leterContainer">
            <div class="letterBlock">
              <img
                src="./img/icons/letterBackground.svg"
                alt="letter background "
                class="letterBackground"
                loading="lazy"
              />
              <p class="textInLetter">
                "The best match-3 game out there with unique water-themed
                gameplay!”
              </p>
            </div>
            <div class="infCardContainer">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/reviews/dsBubbleBlastQueen.png,
                    ./img/reviews/dsBubbleBlastQueen@2x.png 2x
                  " />
                <img
                  src="./img/reviews/mbBubbleBlastQueen.png"
                  srcset="
                    ./img/reviews/mbBubbleBlastQueen.png,
                    ./img/reviews/mbBubbleBlastQueen@2x.png 2x
                  "
                  alt="BubbleBlast Queen"
                  class="reviewsUserAva"
                  loading="lazy"
              /></picture>
              <div>
                <p class="cardName">BubbleBlastQueen</p>
                <p class="cardUser">User</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide leterContainer">
            <div class="letterBlock">
              <img
                src="./img/icons/letterBackground.svg"
                alt="letter background "
                class="letterBackground"
                loading="lazy"
              />
              <p class="textInLetter">
                "Addictive and colorful. I love competing with my friends every
                week!"
              </p>
            </div>
            <div class="infCardContainer">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/reviews/dsSplashMaster.png,
                    ./img/reviews/dsSplashMaster@2x.png 2x
                  " />
                <img
                  src="./img/reviews/mbSplashMaster.png"
                  srcset="
                    ./img/reviews/mbSplashMaster.png,
                    ./img/reviews/mbSplashMaster@2x.png 2x
                  "
                  alt="Splash Master"
                  class="reviewsUserAva"
                  loading="lazy"
              /></picture>
              <div>
                <p class="cardName">SplashMaster</p>
                <p class="cardUser">User</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide leterContainer">
            <div class="letterBlock">
              <img
                src="./img/icons/letterBackground.svg"
                alt="letter background "
                class="letterBackground"
                loading="lazy"
              />
              <p class="textInLetter">
                "This game keeps me entertained for hours! The water effects are
                super cool!"
              </p>
            </div>
            <div class="infCardContainer">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/reviews/dsWaterWiz.png,
                    ./img/reviews/dsWaterWiz@2x.png 2x
                  " />
                <img
                  src="./img/reviews/mbWaterWiz.png"
                  srcset="
                    ./img/reviews/mbWaterWiz.png,
                    ./img/reviews/mbWaterWiz@2x.png 2x
                  "
                  alt="Water Wiz"
                  class="reviewsUserAva"
                  loading="lazy"
              /></picture>
              <div>
                <p class="cardName">WaterWiz</p>
                <p class="cardUser">User</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide leterContainer">
            <div class="letterBlock">
              <img
                src="./img/icons/letterBackground.svg"
                alt="letter background "
                class="letterBackground"
                loading="lazy"
              />
              <p class="textInLetter">
                "Perfect for puzzle lovers. It’s easy to play but hard to
                master, which is awesome!"
              </p>
            </div>
            <div class="infCardContainer">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/reviews/dsOceanOris.png,
                    ./img/reviews/dsOceanOris@2x.png 2x
                  " />
                <img
                  src="./img/reviews/mbOceanOris.png"
                  srcset="
                    ./img/reviews/mbOceanOris.png,
                    ./img/reviews/mbOceanOris@2x.png 2x
                  "
                  alt="${item.alt}"
                  class="reviewsUserAva"
                  loading="lazy"
              /></picture>
              <div>
                <p class="cardName">OceanOris</p>
                <p class="cardUser">User</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="swiper-btn-prev prewBtn"
        type="button"
        aria-label="Previous slide"
      >
        <img
          src="./img/navBtn/navBtn.png"
          srcset="./img/navBtn/navBtn@2x.png 2x"
          alt="swiper button prev"
          class="prevButton normal"
          loading="lazy"
        />
        <img
          src="./img/navBtn/navBtnHover.png"
          srcset="./img/navBtn/navBtnHover@2x.png 2x"
          alt="swiper button next"
          class="prevButton hover"
          loading="lazy"
        />
      </button>
      <button
        class="swiper-btn-next nextBtn"
        type="button"
        aria-label="Next slide"
      >
        <img
          src="./img/navBtn/navBtn.png"
          srcset="./img/navBtn/navBtn@2x.png 2x"
          alt="swiper button next"
          class="nextButton normal"
          loading="lazy"
        />
        <img
          src="./img/navBtn/navBtnHover.png"
          srcset="./img/navBtn/navBtnHover@2x.png 2x"
          alt="swiper button next"
          class="nextButton hover"
          loading="lazy"
        />
      </button>
    </div>

    <div>
      <h3 class="disclaimerTitle">Disclaimer</h3>
      <div class="disclaimerSignContainer">
        <div class="disclaimerSign">
          <img
            src="./img/icons/attentionSign.svg"
            alt="attention sign"
            class="attentionSign"
            loading="lazy"
          />
          <p class="disclaimerText">
            LUCKYGAMEPATH.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF
            WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING
            IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18
            YEARS OF AGE. ENJOY PLAYING THIS GAME!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
