.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  @include media(desktop) {
    padding: 20px 0;
  }
}

.footerContainer {
  width: 280px;
  @include media(desktop) {
    width: 1120px;
  }
}
.footerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  @include media(desktop) {
    justify-content: end;
    margin-bottom: 28px;
  }
}
.footerNavList {
  display: flex;
  padding: 0;
}

.footerNavLink {
  padding: 0 2px;
  transition: color 0.3s ease;
}
.footerNavLink:hover {
  color: $_white_color;
  filter: drop-shadow(3px 8px 6px rgba(0, 0, 0, 0.3));
}
.footerNavLink.disabled {
  pointer-events: none;
  color: $_main_color;
  cursor: default;
}

.footerCopyright {
  text-align: center;
}
