.gallaryContainerSwiper {
  position: relative;
  @include media(desktop) {
    width: 1202px;
  }
}
.gallerySwiper {
  width: 386px;
  @include media(desktop) {
    width: 1092px;
  }
}
.galleryPicture {
  min-width: 183px;
  height: 327px;
  @include media(desktop) {
    min-width: 243px;
    height: 434px;
  }
}
.nextButtonN,
.prewButtonP {
  display: none !important;
  @include media(desktop) {
    display: block !important;
    position: absolute;
    min-width: 91px;
    min-height: 85px;
    background: transparent;
    z-index: 60;
    top: 194px !important;
  }
}
.nextButtonN {
  right: 0px !important;
  margin-right: -60px;
}
.prewButtonP {
  left: 0px !important;
  margin-left: -60px;
  transform: rotate(180deg);
}
.normal,
.hover {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
}

.hover {
  opacity: 0;
}
.nextButtonN:hover .hover,
.nextButtonN:focus .hover,
.prewButtonP:hover .hover,
.prewButtonP:focus .hover {
  opacity: 1;
}

.nextButtonN:hover .normal,
.prewButtonP:hover .normal {
  opacity: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
