.header {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $_blue_transparency_06;
  padding: 14px 0;
  width: 100%;
  @include media(desktop) {
    padding: 36px 0 16px 0;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;

  @include media(desktop) {
    width: 1120px;
  }
}

.logo {
  width: 85px;
  height: 29px;
  transition: transform 0.3s ease, filter 0.3s ease;
  @include media(desktop) {
    width: 185px;
    height: 48px;
  }
}
.logo:hover {
  transform: scale(1.05);
  filter: drop-shadow(3px 8px 6px rgba(0, 0, 0, 0.3));
}

.menuButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background: transparent;

  @include media(desktop) {
    display: none;
  }
}

.defaultBurgerIcon,
.activeBurgerIcon {
  position: absolute;
  z-index: 80;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 40px;
  height: 40px;
}

.defaultBurgerIcon {
  opacity: 1;
  visibility: visible;
}

.activeBurgerIcon {
  opacity: 0;
  visibility: hidden;
}

.menuButton:hover .defaultBurgerIcon {
  opacity: 0;
  visibility: hidden;
}

.menuButton:hover .activeBurgerIcon {
  width: 43px;
  height: 43px;
  opacity: 1;
  visibility: visible;
}
