@import './common/fonts';
@import './header.scss';
@import './home.scss';

@import './gallery.scss';
@import './advantages.scss';
@import './aboutGame.scss';
@import './FAQ.scss';
@import './reviews.scss';

@import './footer.scss';
@import './burger.scss';
@import './components/navList.scss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
