@import './common/fonts';
@import './header.scss';
@import './home.scss';
@import './footer.scss';
@import './burger.scss';
@import './vite-promo.scss';
@import './components/navList.scss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
