.otherPagesSection {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0 40px 0;
  @include media(desktop) {
    padding: 52px 0 100px 0;
  }
}

.teamsContainer {
  width: 280px;
  @include media(desktop) {
    width: 850px;
  }
}

.goBack,
.goBackHover {
  transform: rotate(180deg);

  width: 42px;
  height: 39px;
  margin-bottom: 18px;
  transition: opacity 0.3s ease;
  @include media(desktop) {
    display: none;
  }
}

.goBack {
  opacity: 1;
}

.goBackHover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.linkGoBack {
  position: relative;
  display: inline-block;
}

.linkGoBack:hover .goBack {
  opacity: 0;
}

.linkGoBack:hover .goBackHover {
  opacity: 1;
}

.titleWhite {
  color: $_white_color;
  margin-bottom: 20px;
  @include media(desktop) {
    margin-bottom: 40px;
  }
}
.textWhite {
  color: $_white_color;
  margin-bottom: 16px;
  @include media(desktop) {
    margin-bottom: 30px;
  }
}
.textWhiteLastP {
  margin-bottom: 32px;
  @include media(desktop) {
    margin-bottom: 60px;
  }
}
.titleOrdinary {
  margin-bottom: 20px;
  @include media(desktop) {
    margin-bottom: 40px;
  }
}
.textOrdinary {
  margin-bottom: 32px;
}
.internalParagraphs {
  margin-bottom: 16px;
}
